.feed-bar-wrapper{
    width: 40px;
    height: 100%;
    background-color: #D9D9D9;
    position: absolute;
    right: -40px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 7px rgb(103, 103, 103);
}

.feed-bar-wrapper .feed-bar{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #9975C2;
    border-radius: 20px;
}